.App {
  font-family: 'Sweden Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 100px auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e34234;
}

header {
  margin-top: 16px;
  padding-left: 40px;
}

ul {
  list-style: none;
}

.Loader {
  margin-top: 16px;
  padding-left: 40px;
}

.UserBar {
  margin-top: 16px;
  padding-left: 40px;
}

.ArticleSorter {
  margin-top: 16px;
  padding-left: 40px;
}

.ArticleBody {
  margin-top: 16px;
  padding-left: 40px;
}

.TopicList {
  margin-top: 16px;
  padding-left: 40px;
}

.ErrorPage {
  margin-top: 16px;
  padding-left: 40px;
}
