.App {
  font-family: 'Sweden Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 150px auto;
}

header {
  margin-top: 16px;
  padding-left: 40px;
}

ul {
  list-style: none;
}

.ArticleSorter {
  margin-top: 16px;
  padding-left: 40px;
}
