.App {
  font-family: 'Sweden Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 150px auto;
}

.TopicList {
  list-style: none;
}

.ArticleList {
  list-style: none;
}
